<!DOCTYPE html>
<html>
<head>
  <title>{{i18n .Lang "page_sys_post_man_title"}}</title>
  {{template "sys/inc/meta.html" .}}
</head>
<body>
	{{template "sys/inc/left.html" .}}
	<div class="right-side">
		<table class="table">
			<thead>
				<th>{{i18n .Lang "page_sys_post_man_col_title"}}</th>
				<th>{{i18n .Lang "page_sys_post_man_col_author"}}</th>
				<th>{{i18n .Lang "page_sys_post_man_col_term"}}</th>
				<th>{{i18n .Lang "page_sys_post_man_col_tags"}}</th>
				<th>{{i18n .Lang "page_sys_post_man_col_reltime"}}</th>
				<th>{{i18n .Lang "page_lable_action"}}</th>
			</thead>
			{{$lbl_edit := i18n .Lang "page_lable_edit"}}
    		{{$lbl_del := i18n .Lang "page_lable_delete"}}
    		{{$lbl_rep := i18n .Lang "page_sys_post_btn_replase"}}
    		{{$lbl_red := i18n .Lang "page_sys_post_btn_read"}}
			{{if .posts}}
		  		{{range $k,$v := .posts}}
		  			<tr>
		          		<td>{{$v.Title}}</td>
		  				<td>{{$v.Author}}</td>
		  				<td>{{$v.PTermName}}</td>
		  				<td>{{$v.Tags}}</td>
		  				<td>
		  					{{if eq 2 $v.Active}}
		  						草稿<br>
		  						<abbr style="font-size: 0.9rem" title="{{$v.UpdateTime}}">{{dateformat $v.UpdateTime "2006-01-02"}}</abbr>
		  					{{else}}
		  						已发布<br>
		  						<abbr style="font-size: 0.9rem" title="{{$v.UpdateTime}}">{{dateformat $v.ReleaseTime "2006-01-02"}}</abbr>
		  					{{end}}
		  				</td>
		  				<td>
		  					<input type="hidden" value="{{$v.Id}}">
		  					{{if eq 2 $v.Active}}
		  						<a href="javascript:void(0);" class="btn btn-success-outline btn-sm btn_db_replase">{{$lbl_rep}}</a>
		  					{{else}}
		  						<a href="javascript:void(0);" class="btn btn-success-outline btn-sm">{{$lbl_red}}</a>
		  					{{end}}
		  					&nbsp;
		  					<a href="/sys/posts/posts/toadd?id={{$v.Id}}" class="btn btn-primary-outline btn-sm">{{$lbl_edit}}</a>&nbsp;
				            <a href="javascript:void(0);" class="btn btn-warning-outline btn-sm btn_db_del">
				              {{$lbl_del}}
				            </a>
		  				</td>
		  			</tr>
		  		{{end}}
		  	{{end}}
		</table>
		{{template "sys/inc/page.html" .}}
	</div>
</body>
</html>
{{template "sys/inc/foot.html" .}}
<script type="text/javascript">
	jQuery(document).ready(function() {
		function statusAction(type_str, control){
			var url = "/sys/posts/posts/release";
			if ("del" == type_str) {
				url = "/sys/posts/posts/del";
			}
			var hid = jQuery(control).parent().children("input:hidden").val();
			jQuery.ajax({
		        url:url,
		        async:false,
		        data:{id:hid},
		        dataType:"json",
		        success:function(data,textStatus){
		          if (data.res) {
		            location.reload();
		          }else{
		            alert(data.msg);
		          }
		        },
		        error:function(){
		          alert({{i18n .Lang "page_sql_err_msg"}});
		        }
	      	});
		}
		//发布按钮事件
		jQuery(".btn_db_replase").click(function(){
			statusAction("",this)
		});
		//删除按钮事件
		jQuery(".btn_db_del").click(function(){
			statusAction("del",this)
		});
	});
</script>