<!DOCTYPE html>

<html>
<head>
  <title>{{i18n .Lang "page_sys_main_title"}}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  
</head>

<body>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
<h1>This is init page</h1>
</div>
</body>
</html>